<div class="container">
   <div class="row justify-content-md-center">
      <mat-card class="changePassword-card col col-md-3" color="white">
         <mat-card-header>
           <mat-card-title>Change Password</mat-card-title>
         </mat-card-header>
         <mat-card-content>
            <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
               <mat-form-field class="changePassword-input">
                  <input matInput placeholder="Old Password" type="password" name="oldPassword" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" required />
                  <mat-hint *ngIf="f.submitted && !oldPassword.valid" class="help-block">Old Password is required</mat-hint>
               </mat-form-field>

               <mat-form-field class="changePassword-input">
                  <input matInput placeholder="New Password" type="password" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }" required />
                  <mat-hint *ngIf="f.submitted && !newPassword.valid" class="help-block">New Password is required</mat-hint>
               </mat-form-field>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
          <button mat-button [disabled]="loading" (click)="changePassword()" color="primary" class="changePassword-button">Change Password</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
         </mat-card-content>
      </mat-card>
   </div>
</div>
