<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h1>The case's documents</h1>
    </div>
    <div class="col-2">
      <button mat-fab (click)="openDialog()">+</button>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  </div>
</div>


<mat-table #table [dataSource]="dataSource" matSort>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
      [checked]="selection.hasValue() && isAllSelected()"
      [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
      (change)="$event ? selection.toggle(row) : null"
      [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>


<!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->



  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="revisions">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Revisions </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.revisions}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="creDat">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Creation </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.creDat | date:'medium'}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="modDat">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last modification </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.modDat | date:'medium'}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="download">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Download </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button type="button" class="btn btn-outline-warning btn-sm" (click)="saveFile(element.id)">Download</button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
  (click)="selection.toggle(row)">
  </mat-row>
</mat-table>
